h2 {
    text-align: center;
    color: orange;
}

.profile-section form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profile-section button {
    width: 200px;
    margin: 0 auto;
}

input {
    background-color: #fff;
}

label {
    color: orange;
    font-weight: bold;
}