.container {
    width: 250px;
    height: 100vh;
    overflow: hidden;
    background-color: teal;
    color: #fff;
}

.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 20px;
    /* margin: 30px 20px 20px 20px; */
}

.list .item {
    padding: 10px;
    cursor: pointer;
}

h2.logo-heading {
    color: rgb(234, 234, 234);
}

.selected {
    background-color: orange;
    padding: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}