.flex {
  display: flex;
}

.card {
  width: 300px;
  border-radius: 3px;
  margin: 100px auto;
  display: grid;
  justify-content: center;
  /* border: 1px solid orangered; */
  background-color: white;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

input {
  outline: none;
  border: none;
  padding: 7px;
}

form.auth-form > input {
  background-color: #eee;
}

button {
  width: 100%;
  padding: 7px;
  /* border-radius: 5px; */
  background-color: orange;
  color: #fff;
  outline: none;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

form.auth-form > button {
  width: 100%;
}

h2 {
  text-align: center;
  color: orange;
}

.black-text {
  color: black;
}

a {
  color: orangered;
}

body {
  background-color: #eee;
}

.right-container {
  width: 100%;
  padding: 20px;
}

a.orange-link {
  color: orange;
}

.logout {
  width: 100%;
}

.logout button {
  background-color: #fff;
  color: red;
  float: right;
  width: 100px !important;
}